/* ============ common css ============ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
img {
    width: 100%;
}

.col-xs-1 {
    width: 8.33%;
}

.col-xs-2 {
    width: 16.66%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33%;
}

.col-xs-5 {
    width: 41.66%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33%;
}

.col-xs-8 {
    width: 66.66%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33%;
}

.col-xs-11 {
    width: 91.66%;
}

.col-xs-12 {
    width: 100%;
}

a.btn:focus,
a.btn:active,
a.btn:visited {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:active,
input:active,
select:active,
textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

button,
input,
select,
textarea {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #F5F9FF;
    color: #263A70;
        font-family: Gilroy!important;
}
/**{
    font-family: 'Montserrat', sans-serif;
}*/

/* login home page css */
.login_home_body{
    position: relative;
    overflow: hidden;
}
.login_home_body::before{
    content: "";
    position: absolute;
    width:130px;
    height: 130px;
    background-image: url(../img/bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg);
  }
  .login_home_body::after{
    content: "";
    position: absolute;
    width:130px;
    height: 130px;
    background-image: url(../img/bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
  }
  .dash_bg {
    background-image: url(../img/dashbg1.jpg);
    background-position: top center;
    background-size: cover;
    height: 100vh;
    background-position-y: -50px;
        background-position-x: 12px;
}
section.home-section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
/*section.home-section::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: 158px;
    left: 39%;
    background-image: url(../img/dashbg1.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}*/
h5.h5-title {
    font-size: 22px;
    font-weight: 700;
   /* color: #000;*/
}
.home-section ul.nav li {
    margin: 0 25px;
    text-align: center;
}
ul.nav li a{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #024d6d;
    display:grid;
}
ul.nav li a img{
    width: 110px;
    margin: 0 auto;
    margin-bottom: 0px;
}
/* recruitment page css */
section.main-content {
    margin-left: 120px;
    padding-top: 15px;
}
.main-content h6.h6-title {
   /* font-size: 15px;*/
   /* color: #61729A;*/
   /* font-weight: 400;*/
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #7388A3;
    font-size: 18px;
    font-weight: 700;
}
.main-content h6.h6-title img {
    margin: 0 7px;
    width: 15px
}
span.sty_text_blue {
    color: #0072FA!important;
}
.main-content h6.h6-title span a:hover {
    color: #0072FA!important;
}
.main-content h6.h6-title span{
    font-weight: 600;
    /*color: #024d6d;*/
    color: #7388A3;
    font-size: 18px;
    font-weight: 700;
    font-family: Gilroy!important;
}
.manage_jobs_right_wrapper ul li{
    margin-left: 25px;
    position: relative;
}
.manage_jobs_right_wrapper ul li:first-child::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #dce3eb;
    top: 10px;
    right: -13px;
}
button.btn.new_jobs_btn {
    background-color: #347AE2;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 6px 12px;
}
.new_jobs {
    margin-left: 20px;
}
.manage_jobs_right_wrapper p {
    font-size: 14px;
    font-weight: 500;
    color: #61729A;
    padding: 6px 0px;
    margin-bottom: 10px;
}
.manage_jobs_right_wrapper p span{
    margin-left: 6px;
}
.manage_jobs_right_wrapper p img{
    width: 16px;
}

/* for manage contacts page */
.manage_jobs_right_wrapper.mng_contacts p i {
    color: #61729A;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.manage_jobs_right_wrapper.mng_contacts p span {
/*    font-size: 10px;*/
    margin: 0 4px;
}
.manage_jobs_right_wrapper.mng_contacts ul li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #dce3eb;
    top: 9px;
    right: -10px;
}
.manage_jobs_right_wrapper.mng_contacts ul li:last-child:before{
    display: none;
}

/* for configure page */
.aggregators_configure_wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
/*    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 6%);*/
    box-shadow: 0px 15px 15px 0 rgb(0 0 0 / 3%);
    margin-bottom: 20px;
    margin-top: 10px;
}

.aggregators_configure_wrapper h6.conf-title {
    font-weight: 700;
    color: #001F69;
    margin-bottom: 20px;
}
.aggregators_configure_wrapper ul.nav li{
    width: 162px;
}
/* .aggregators_configure_wrapper ul.nav li.liOne {
    width: 190px;
}
.aggregators_configure_wrapper ul.nav li.liTwo {
    width: 140px;
}
.aggregators_configure_wrapper ul.nav li.liThree {
    width: 150px;
}
.aggregators_configure_wrapper ul.nav li.liFour {
    width: 175px;
}
.aggregators_configure_wrapper ul.nav li.liFive {
    width: 145px;
}
.aggregators_configure_wrapper ul.nav li.liSix {
    width: 185px;
}
.aggregators_configure_wrapper ul.nav li.liSeven {
    width: 140px;
} */
button.btn.prf_update_btn {
    border-radius: 100%;
    background-color: #f2effc;
    color: #D2202F;
}
button.btn.prf_update_btn i{
    color: #61729A;
}
select#c_value, input#d_source, input#prf_pwd {
    color: #c4c4c4;
    font-size: 12px;
    font-weight: 500;
}

.aggregators_configure_wrapper ul.nav li .custom_checkbox {
    color: #61729A;
}
/* for dashboard page */
.dashboard_graph_wrapper {
    background-color: #fff;
    /*margin-top: 20px;*/
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px 2px rgb(0 0 0 / 10%);
}
.dashboard_app_wrapper {
    margin-top: 0px;
}
.dashboard_app_wrapper .head_wrap {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
}
.dashboard_graph_wrapper h6.h6-title {
    color: #263A70;
    font-weight: 700;
}
button.btn.show_btn {
    background-color: #347AE2;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 12px;
    border-radius: 8px;
}
.dashboard_graph_wrapper ul li:nth-child(1){
    border: 1px solid #E6EFFB;
    border-radius: 8px;
    padding: 2px;
}
.dashboard_graph_wrapper ul li:nth-child(1) .form-control{
    border: 0px;
    border-right: 1px solid #E6EFFB;
    border-radius: 0px;
    padding-right: 35px;
}

.dashboard_graph_wrapper .dropdown .dropdown-toggle::after{
    display: none;
}
.dashboard_graph_wrapper .dropdown a.nav-link.dropdown-toggle{
    padding: 12px 6px;
    font-size: 20px;
    margin-left: 15px;
    color:#D1D8E8!important
}
.dashboard_graph_wrapper .dropdown.show a.nav-link.dropdown-toggle{
    color: #347ae2 !important;
}
.dashboard_graph_wrapper .dropdown .dropdown-menu {
    left: -25px !important;
    min-width: 3.5rem;
    
}
.dashboard_graph_wrapper .dropdown .dropdown-menu .dropdown-item{
    padding: 8px 12px;
    display: block;
}
.dashboard_graph_wrapper .dropdown .dropdown-menu .dropdown-item img{
    width: 100%;
    display: block;
}
/*Dashboard right side css*/
h6.app_title {
    font-weight: bold;
    font-size: 14px;
}
p.app_desc {
    font-size: 12px;
    color: #61729A;
}
/*.img_wrap, .content_wrap, .icon_wrap {
    display: inline-block;
}
*/
/*.content_wrap {
    padding-left: 0;
}*/
.icon_wrap a i {
    color: #D1D8E8;
    float: right;
    margin: 6px 0 0 0;
}
.no-border-bottom {
    border-bottom: 0 !important;
}
.content_wrap h6 {
    font-size: 12px;
    margin: 0;
}
a.view_all_link {
    color: #347AE2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.body_inner_wrap{
    position: relative;
}
.body_inner_wrap .icon_wrap {
    position: absolute;
    right: 15px;
    top: -6px;
}
.body_inner_wrap .content_wrap {
    margin-top: 4px;
}
.body_inner_wrap2 {
    padding-top: 10px;
}
.dashboard_app_wrapper .content_wrap p {
    font-size: 12px;
}
.dashboard_app_wrapper .img_wrap img {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    margin-right: 10px;
}
.dashbg_blue{
    background-color: #347ae2;
}
.dashbg_yellow{
    background-color: #ffaf2a;
}
.dashbg_red{
    background-color: #ff4167;
}
.foot_wrap_innner {
    text-align: center;
    padding: 15px 10px;
    border-radius: 20px;
    width: 46%;
    display: inline-block;
    margin: 0 1%;
}

.foot_wrap_innner img {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    display: block;
}

.foot_wrap_innner h6 {
    color: #fff;
    font-weight: 600;
    padding-top: 14px;
    margin: 0;
}
.foot_wrap {
    padding-top: 30px;
}
.foot_wrap_full{
         width: 94%;
    margin: 10px auto;
    display: block;
    padding-bottom: 20px;
}

.foot_wrap_innner p {
    padding-top: 4px;
    margin: 0;
    font-size: 10px;
    color: #fff;
}

.foot_wrap_full_contaent, .foot_wrap_full img {
    display: inline-block;
    text-align: left;
}

.foot_wrap_full img {position: absolute;left: 40px;margin: 10px 0 0 0;}

.foot_wrap_full_contaent {
    margin: -4px 0 0 34px;
}
.highcharts-figure, .highcharts-data-table table {
/*  min-width: 310px; */
  max-width: 100% !Important;
  margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
g.highcharts-no-tooltip.highcharts-button.highcharts-contextbutton , text.highcharts-title, text.highcharts-credits, g.highcharts-legend-item.highcharts-spline-series.highcharts-color-undefined.highcharts-series-0{
    display: none;
}

.sty_wrp {
    background-image: url(../img/app_bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sty_app_icon {
    max-width: 100px;
}
.top_app_head img{
width: inherit;
}
.top_app_head img {
    width: 40px;
    margin-right: 8px;
    padding: 8px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 0 5px 0px rgb(0 0 0 / 5%);
}
.top_app_head span {
    font-size: 13px;
    font-weight: 600;
    color: #263A70;
}
.sty_right_menu{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #D1DCE8;
    padding-bottom: 10px;
}

.sty_right_menu .img_wrap img {
    width: 45px;
    margin-right: 8px;
    padding: 10px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 0 5px 0px rgb(0 0 0 / 5%);
    height: 45px;
}

.sty_app_nav_tabs .nav-link.active::before{
    display:none;
}

.sty_app_nav_tabs {
    border-bottom: 1px solid #D1DCE8;
    padding-bottom: 0;
}
.sty_app_nav_tabs .nav-link.active {
    border-bottom: 2px solid #347AE2!important;
}
.sty_icon_text img.left_icon{
    width: 58px;
    margin-bottom: 5px;
    background: rgb(230 239 251);
    border-radius: 20px;
    padding: 15px;
    height: 58px;
}
.sty_icon_text img{
        width: 68px;
}
.sty_ap_tab_content{
    margin-top: 35px
}
.sty_icon_text {
    display: flex;
    align-items: center;
}
.sty_ap_tab_content .card{
    border-radius: 20px;
    border: 0;
    margin-bottom: 15px;
    transition:all 0.6s;

}
.sty_ap_tab_content .card:hover {
      box-shadow: 0px 8px 14px #00000024;  
}
.sty_ap_tab_content .card  .card-body {
        padding: 10px;
}
.sty_ap_tab_content .card h5{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    color: #263A70;
}
.sty_ap_tab_content .card p{
    font-size: 12px;
    margin: 0;
}
.sty_ap_tab_content a {
    color: #61729A;
}

.sty_ap_tab_content .card .dwn_img {
    width: 45px;
}
.sty_icon_text div {
    margin: 0 4px;
}

.badge-danger{
   background: #F12E4F!important
}

.sty_inner img {
    width: 170px;
    margin: 0 auto;
    margin-top: -75px;
}

.sty_inner {
    margin-top: 80px;
}
.sty_inner .card{
    border: 0;
    border-radius: 20px;
    text-align: center;
}
.insta_btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background: #347AE2!important;
    text-transform: uppercase;
    font-weight: 500;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}
.serch_btn {
    background: transparent;
    border: 0;
    outline: none!important;
    position: absolute;
    left: 10px;
    width: 27px;
    padding: 6px;
    cursor: pointer;
}
form.serch_bar {
    position: relative;
    max-width: 150px;
    width: 100%;
    padding: 10px 4px;
     display: none;
}
.serch_bar input{
    width: 100%;
    border: 0;
    background: #ddd;
    padding: 9px 10px 9px 33px;
    font-size: 13px;
    border-radius: 25px;
     background: #dddddd3b;
}
.serch_bar img {
    width: 15px;
}

.aside_sty li.menu-item.active::before{
    display: none;
}

/*=================================30-09-2021=======================*/
    
/*    .nav-tabs .nav-item img {
        width: 40px;
        padding: 6px;
        height: 40px;
    }*/
    .arrow_rtl{
        width: auto;
        margin: 0 10px
    }

    .img_upload {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px dashed #d1dce8;
        padding: 15px;
        border-radius: 10px;
    }
    img#img-uploaded {
        max-width: 100px;
        width: 100%;
        border-radius: 5px;
    }

    .img_upload .btn{
     color: #09f;
     background-color: #fff;
     border: 2px solid #09f;
     text-align: center;
     display: inline-block;
     vertical-align: middle;
     white-space: nowrap;
     margin: 0.6em 0.6em 0.6em 0;
     padding: 0.35em 0.7em 0.4em;
     text-decoration: none;
     width: auto;
     position: relative;
     border-radius: 10px;
     user-select: none;
     outline: none;
     -webkit-transition: all, 0.25s, ease-in;
     -moz-transition: all, 0.25s, ease-in;
     transition: all, 0.25s, ease-in;
     font-weight: 500;
     line-height: 0;
     padding: 20px;
    }
    span.file-holder {
        display: block;
    }
  .file-wrapper:hover .btn,
  .file-wrapper:hover button{
      background-color: #ddd;
      color:#fff!important;
      -webkit-transition: all, 0.25s, ease-in;
      -moz-transition: all, 0.25s, ease-in;
      transition: all, 0.25s, ease-in;
    }
 

   .img_upload input {
      border: 2px solid #eee;
      padding: 1em 0.25em;
      width: 96%;
      color: #999;
      border-radius: 4px;
    }
    .img-holder {
      display: block;
      vertical-align: middle;
      width: 2em;
      height: 2em;
    }
    .img-holder img {
      width: 100%;
      max-width: 100%;
    }

    .file-wrapper {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      position: relative;
    }
    .file-wrapper:hover .btn {
      background-color: #33adff !important;
    }

    .file-wrapper input {
      cursor: pointer;
      font-size: 100px;
      height: 100%;
      filter: alpha(opacity=1);
      -moz-opacity: 0.01;
      opacity: 0.01;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
    }


/*=====================15-11-2021=======================*/
.menu-item span.menu-label {
    margin: 0 auto;
    width: 60px;
    background: rgb(230 239 251);
    border-radius: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}


.menu-item .menu-icon, 
.responsive_table .table thead th,
.responsive_table td{
    font-family:Gilroy!important;
}
button.btn.toggle_btn.sidebar_add_btn {
    padding-left: 0;
    padding-right: 0;
}
li.nav-item .dropdown-menu {
    right: 0;
    left: auto;
}
.card.sty_card_box p {
    font-size: 18px;
    font-family: Gilroy!important;
    font-weight: 300;
}
.btn,.btn span{
    font-family: Gilroy!important;
}
.admin-sidebar .admin-sidebar-brand {
    padding-right: 25px;
    padding-left: 25px
}
.sty_status .btn {
    padding: 5px 0;
    width: 100%;
    font-weight: 500;
    border-radius:5px;
        font-size: 11px;
}
.sty_header_inner{
        border-bottom: 1px solid #D1DCE8;
}
.btn.sty_btn_2 {
    border-radius: 10px;
    padding: 10px 13px;
            font-weight: 600;
    
}
.prop_details .media-body.draft_box p {
    font-weight: 300;
}
.prop_details .media-body.draft_box h5 {
    font-weight: 600;
}
.ft_18{
    font-size: 14px;
    font-weight: 600;
    color: #7388A3;
}


.sty_items_table .responsive_table .table thead th:first-child,
.responsive_table td:first-child {
    padding-left: 14px;
}

.sty_items_table .responsive_table .table thead th:last-child,
.responsive_table td:last-child {
    padding-right: 14px;

}

.select2-selection {
    height:45px!important;
    border-radius: 10px!important;
    font-size: 14px;
    color: #61729A;
    border-color: #d1dce8!important;
    position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px!important;
    padding-left: 15px!important;
}
.select2-dropdown,input.select2-search__field {
    border-color: #d1dce8!important;
}
li.select2-results__option {
    font-size: 14px!important;
}
form#proposalItemForm {
    background: #ffff;
    padding: 25px 0;
    border-radius: 15px;
    margin-bottom: 36px;
}

form#proposalItemForm .form-group.cta_btn {
    margin-bottom: 0!important;
}
.sty_inp_bg{
    background: #ffff;
    padding: 22px;
    border-radius: 15px;
    margin-bottom: 36px;
}
.common-error {
    display: none;
}

.sty_items_table td.sty_action {
    text-align: end;
}
.sty_form_row.form-row {
    margin-right: -15px;
    margin-left: -15px
}
.sty_form_row .form-row>.col, .form-row>[class*=col-]{
        padding-right: 15px;
        padding-left: 15px;
}
.sty_form_row .md-form-lable {
    left: 30px
}
.searh_w{
    width: 38%
}
.not_found {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.sty_roles_table tr th {
    padding: 0!important;
    line-height: 0;
}
.sty_mdl_title_2{
    font-size: 14px!important;
    margin: 0!important;
    color: #263A70!important;
    font-weight: 700!important;
}
.sty_inp_bg .h6-title2{
    color: #263A70;
}
.sty_inp_bg label.md-form-lable {
    left: 30px;
}
span.select2-results a {
    font-size: 14px;
}
a.back_btn {
    margin-right: 15px;
    font-size: 18px!important;
    color: #007bff!important;
}
.sty_two_col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: auto 1;
}
.sty_two_col .menu-link{
   margin:10px  auto!important;
}


.responsive_table td:first-child {
   width: auto;
}

@media screen and (min-width:1400px){

    .menu-item span.menu-label {
        margin: 0 auto;
        width: 73px;
        background: rgb(230 239 251);
        border-radius: 20px;
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3px;
    }
    .admin-sidebar .menu .menu-item .menu-link,
    .manage_contacts_table td {
        font-size: 14px;
    }
    .main-content h6.h6-title span,.main-content h6.h6-title{
        font-size: 25px!important;
    }
    .nav-tabs .nav-item span{
        font-size: 18px;
    }
    li.menu-item .menu-icon {
        width: auto;
    }
    .btn, .btn span,
    button.btn.new_jobs_btn i,
    .header_search input.form-control,
    .sty_status .btn,
    .prop_details .media-body p,
    .prop_details .media-body h5,.stylable, .item_details p,
    .manage_jobs_right_wrapper p {
        font-size: 16px!important
    }
    .btn.sty_btn_2 {
        font-size: 16px;
        border-radius: 10px;
        padding: 13px 15px;
    }
    .prop_details .media-body.draft_box p, .item_details label {
        font-size: 14px!important;
    }

    table tr td, table tr th{
        font-size: 1rem!important
    }
    .ft_18, .item_details .sty_title{
     font-size: 18px!important;
    }

    .aggregators_configure_wrapper h6.conf-title {
        font-size: 22px;
    }


}
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.wrapper.chatbox{
    /*    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;*/
    background-color: #F5F9FF;
    border-radius: 15px;
    border: 1px solid #E1EAF6;
}

.chatbox .chatbox .main {
    background-color: #eee;
    width: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px
}

.chatbox .scroll {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        text-align: center;
}

.chatbox .img1 {
    border-radius: 50%;
    background-color: #66BB6A;
    display:none;
}

.chatbox .name {
    font-size: 8px
}

.chatbox .msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
}

.chatbox .between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
}

.chatbox .navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #EAEEF5;
}

.chatbox .form-control {
    font-size: 12px;
    font-weight: 400;
       border: 0;
background: #eaeef5;
}

.chatbox form-control: focus {
    box-shadow: none;
    overflow: hidden;
    border: none
}

.chatbox .form-control:focus {
    box-shadow: none !important
}

.chatbox .icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
}

.chatbox .icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
}

.chatbox .icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
}
.chet_cmt {
    color: #7388A3;
    padding: 0 15px;
    margin-top: 35px;
}
.chat_icon{
    max-width: 350px;
    margin:0 auto;
}
.chatbox .navbar {
    padding: 5px 8px;
}


