/* for form */
/* .form-control {
    font-size: 14px;
    color:#61729A;
	padding: 12px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #d1dce8;
	position: relative;
} */
.form-control {
    font-size: 14px;
    color:#61729A;
	padding: 12px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #d1dce8;
	position: relative;
    z-index: 2
}

.form-control:focus + .md-form-lable,
input.form-control:not(:placeholder-shown) + .md-form-lable,
select.form-control:not([value=""]):valid + .md-form-lable {
    top: -6px;
    font-size: 9px;
    background-color: #fff;
    padding: 0 4px;
    color: #024d6d;
    z-index: 2
}
.form-group {
    position: relative;
}
select.form-control {
	height: auto !important;
    padding: 14px 15px;
}

.login_body .form-group {
    position: relative;
    margin-bottom: 10px;
}
.login_body .form-control {
  padding: 16px 30px;
  font-size: 12px;
  border-bottom: 1px solid #CDDCF1;
  border-radius: 10px;
  color: #000;
  font-weight: 500;
  position: relative;
}
.login_body .form-control::placeholder{
  color: #7388A3;
}
.login_body .form-group img {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 19px;
    left: 10px;
}
.login_body .form-group img.eye_img {
    width: 15px;
    position: absolute;
    top: 20px;
    left: unset;
    right: 15px;
}
.login_body .form-group i.fas.fa-eye-slash {
  font-size: 15px;
  color: #000;
  position: absolute;
  top: 12px;
  right: 0px;
}
.lg_form_lable{
    font-size: 12px;
    color: #61729A;
    font-weight: 500;
    position: absolute;
    left: 25px;
    top: 9px;
    transition: all 0.4s;
    cursor: pointer;
}
.login_body .form-control:focus~.lg_form_lable{
    top: -6px;
    font-size: 10px;
}
.md-form-lable{
    font-size: 12px;
    color: #c4c4c4;
    font-weight: 500;
    position: absolute;
	left: 20px;
    top: 15px;
    transition: all 0.4s;
    cursor: pointer;
    background-color: #fff;
}
/* .form-control:focus + .md-form-lable,
input.form-control:not(:placeholder-shown) + .md-form-lable,
select.form-control:not([value=""]):valid + .md-form-lable {
    top: -6px;
    font-size: 9px;
    background-color: #fff;
    padding: 0 4px;
    color: #024d6d;
} */
/*================*/
textarea.form-control{
    position: initial!important;
}
textarea#description + .md-form-lable{
    left: 15px!important
}
.sty_inp_bg textarea#description + .md-form-lable{
    left: 30px!important
}


textarea.form-control:not(:placeholder-shown) + .md-form-lable{
   top: -6px;
   font-size: 9px;
   background-color: #fff;
   padding: 0 4px;
   color: #024d6d;
}

/*================*/

.form-control:focus {
	box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 10%) !important
}

.md-form-lable2{
    padding: 0 4px;
    color: #024d6d;
    font-size: 9px;
    font-weight: 500;
    position: absolute;
    left: 25px;
    top: -6px;
    transition: all 0.4s;
    cursor: pointer;
    background-color: #fff;
}
p.span_txt {
    margin-left: 63px;
    position: absolute;
    top: 5px;
    font-size: 12px;
    font-weight: 500;
        color: #7388A3;
}
.toggle_box{
    position: relative;
}
a.forgot_pwd_link {
   color: #0072FA;
   font-size: 11px;
  font-weight: 500;
      text-decoration: underline;   
}
button.btn.login_btn {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color:#0072FA;
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    border-radius: 10px;
        box-shadow: 0 15px 15px #0072fa29!important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 31px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D2D2D2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #31CC58;
}

input:focus + .slider {
  box-shadow: 0 0 1px #31CC58;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

span.location_txt {
    font-size: 14px;
    color: #61729A;
    margin-right: 12px;
}
.btn-group {
    background-color: #fff;
    border: 1px solid #d1dce8;
    padding: 5px 10px;
    border-radius: 30px;
}
.btn-group button.btn {
    background-color: transparent;
    font-size: 12px;
    color: #024d6d;
    padding: 5px 10px;
    border-radius: 20px !important;
    transition: all 0.5s;
}
button.btn.city_btn {
    margin-right: 10px;
}
button.btn.city_btn.active {
    background-color: #D2202F;
    color: #fff;
    margin-right: 10px;
}
button.btn.state_btn.active {
    background-color: #347AE2;
    color: #fff;
}
.form-group a img{
    width: 30px;
    margin-right: 8px;
}
.cta_btn .btn{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 10px;
    text-transform: uppercase;
        margin: 0 10px 0 0;
}
.cta_btn .btn.search_btn{
    background-color: #347AE2;
}
.cta_btn .btn.clear_btn{
    background-color: #263A70;
}
label.form_lable {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
/* The custom checkbox */
.custom_checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    color: #61729;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #d1dce8;
	border-radius: 4px;
}
.custom_checkbox input:checked ~ .checkmark {
    background-color: #347AE2;
    border: 1px solid #347AE2;
}
.custom_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom_checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom_checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.aggregators_wrapper {
    padding: 0px 0px 25px;
    border-bottom: 1px solid #d1dce8;
    margin-bottom: 25px;
}
.aggregators_wrapper .inner_wrapTwo ul li{
    margin: 0px 5px;
	position: relative;
    width: 42%;
}
.aggregators_wrapper .inner_wrapTwo ul li:last-child{
    width: 8%;
}
.aggregators_wrapper .inner_wrapOne .custom_checkbox{
    font-weight: 700;
}
.jobboards_wrapper .inner_wrapOne .custom_checkbox{
    font-weight: 700;
}
.jobboards_wrapper{
    margin-bottom: 20px;
}
.jobboards_wrapper .inner_wrapTwo ul li{
    margin: 0px 5px;
	position: relative;
    width: 42%;
}
.jobboards_wrapper .inner_wrapTwo ul li:last-child{
    width: 8%;
}
button.btn.save_btn2 {
    background-color: transparent;
    border: 1px solid #347AE2;
    color: #347AE2;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 12px;
    border-radius: 10px;
}
#EditProfileModal .form-control {
    margin-bottom: 25px;
}
.nav label.md-form-lable {
    left: 20px;
}

.aggregators_configure_wrapper .custom_checkbox {
	margin-bottom: 10px;
    margin-top: 10px;
}

/*for location togle*/
.switch-field {
    display: flex;
    /*margin-bottom: 36px;*/
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
div#General .btn-group {
    padding: 5px 5px 4px;
}
.switch-field label {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0;
     /*margin-right: -1px;
   border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
        background-color: #347AE2;
    box-shadow: none;
    color: #fff;
    border-radius: 50px;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
/*location type media*/
span.location_social .custom_checkbox {
    display: inline-block;
    margin-right: 14px;
}
.location_social .custom_checkbox input:checked ~ .checkmark {
    background-color: transparent;
}

.location_social i {
    position: absolute;
    left: 5px;
    top: 6px;
    font-size: 18px;
}

span.location_social .custom_checkbox .checkmark:after {
    border: 0;
    background-image: url(..//img/55.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 14px;
    transform: rotate(0deg);
    top: -6px;
    left: 24px;
}
.location_social .custom_checkbox .checkmark {
    top: -4px;
    width: 35px;
    height: 35px;
    left: -5px;
    /*border: 0;*/
}
span.location_social .fa-facebook-f {
    color: #8E6FD6;
}
span.location_social .fa-twitter {
    color: #1DA1F2;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    height: 150px;
}
select {
    appearance: none;
    -webkit-appearance: none;
}
.select_icon:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 12px;
    height: 12px;
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.custom-select {
    background:#FFF !important;
}
span.multiselect-selected-text {
    color: #000;
}
.prf_title .switch-field label {
    font-size: 12px;
    padding: 10px 10px;
    color: #024d6d;
}
.prf_title .switch-field input:checked + label {
    background-color: #347AE2;
}
.switch-field input:last-of-type:checked + label {
    background: #347ae2;
}
@media screen and (max-width: 767px) {
    .aggregators_wrapper .inner_wrapTwo ul li {
        width: 100%;
        margin: 6px 0px;
    }
    .jobboards_wrapper .inner_wrapTwo ul li {
        margin: 6px 0px;
        width: 100%;
    }
    #General .text-right {
        text-align: left!important;
    }
    .custom_checkbox {
        margin-bottom: 18px;
    }
    .aggregators_wrapper ul.nav, .jobboards_wrapper ul.nav{
        margin-bottom: 12px;
    }
    
    select.form-control.select_control {
        padding: 15px 25px !important;
        height: 55px !important;
    }
    select.form-control.select_control~.md-form-lable {
        width: 80% !important;
    }
    .select_icon{
        position: relative;
    }
    
}
