.navbar {
    padding: .5rem 2rem;
}
.navbar-nav{
  width: 100%;

}
.navbar-brand img{
    width: 150px;
}
img.pro-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: -8px;
    position: relative;
    object-fit: scale-down;
}
a.nav-link {
    font-size: 13px;
    color:#61729A!important;
    font-weight: 600;
    padding: 8px 12px !important;
}
a.nav-link span {
    position: relative;
    top: -5px;
}
.dropdown-toggle::after {
    vertical-align: .5em;
}

img.setting_img{
    width: 18px;
}
img.logout_img {
    width: 16px;
}
.dropdown-menu {
    left: -22px;
}
a#navbardrop {
    position: relative;
}
a#navbardrop::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1cd848;
    z-index: 2;
    top: 22px;
    left: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
}
.dropdown-menu {
    border: 0px;
    box-shadow: 0px 12px 18px 6px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.dropdown-item {
    font-size: 12px;
    font-weight: 400;
    color: #024d6d;
    background-color: transparent !important;
    padding: 7px 24px;
    border: 0px;
    border-radius: 0px;
}
.nav-tabs {
    border-bottom: 0px;
    padding: 15px 0;
}
.nav-tabs .nav-item img{
    width: 45px;
    height: 45px;
    margin-right: 8px;
/*        padding: 8px;*/
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 0 5px 0px rgb(0 0 0 / 5%);
    object-fit: scale-down;

}
.nav-tabs .nav-item span{
    font-size: 14px;
    font-weight: 600;
    color: #263A70;
    font-family: 'Open Sans', sans-serif;
}
.nav-tabs .nav-item .nav-link{
    padding: 10px 0px;
    border-radius: 0px;
    border: 0px;
    position: relative;
}
.nav-tabs .nav-item .nav-link:hover{
    border: 0px;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-right: 30px;
    position: relative;
}
.nav-tabs .nav-item::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #e5e5e5;
    right: -15px;
    top: 12px;
}
.nav-tabs .nav-item:last-child::before{
    content:none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #347AE2!important;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs .nav-link.active::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #f5f9ff;
    border: solid #D1DCE8;
    border-width: 0px 0px 1px 1px;
    bottom: -28px;
    left: 36%;
    transform: rotate(-45deg);

}
/*Left bar Css*/
.toggle_item{
    display: none;
}
.mb_col{
    display: none;
}
.admin-sidebar {
    font-weight: 500;
    position: fixed;
    z-index: 999;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: transform ease .2s;
    width: 106px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 3%);
    transition: all 0.5s;
}
.admin-sidebar .admin-sidebar-brand {
    display: flex;
    width: 100%;
    height: 65px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    flex: 0 0 auto;
    align-items: center;
}
/*overflow Scroll */

.sidebar-main-wrapper::-webkit-scrollbar {
  width: 5px;
}
.sidebar-main-wrapper::-webkit-scrollbar-track {
  background: #e6effb;
  border-radius:5px;    
}
.sidebar-main-wrapper::-webkit-scrollbar-thumb {
    background: #263a70; 
  border-radius:50px;
}
.sidebar-main-wrapper::-webkit-scrollbar-thumb:hover {
background: #324f9e;
}


.sidebar-main-wrapper {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    flex: 1 1 auto;
}
.admin-sidebar-wrapper {
    height: 1080px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: 100%;
}
.admin-sidebar .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
li.menu-item.active {
    position: relative;
}
li.menu-item.active::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 35px;
    background-color:#347ae2;
    right: 0;
    left: auto;
    top: 20%;
    border-radius: 4px 0px 0px 4px;
    border-color:#347ae2;
}
.admin-sidebar .menu .menu-item .menu-link {
    display: table;
   /* width: 100%;
    padding: 10px 5px;*/
    transition: opacity .2s ease;
    justify-content: space-between;
    text-align: center;
    color: #024d6d;
    font-size: 11px;
    font-weight: 500;
    padding: 0;
    margin: 20px auto;
}

/*.admin-sidebar .menu .menu-item .menu-link img{
    width: 45px;
    margin-bottom: 5px;
    background: rgb(230 239 251);
    border-radius: 15px;
    padding: 10px;
    height:45px;
}*/
li.menu-item .menu-icon {
    display: block;
    line-height: initial;
    width: 60px;
}
button.btn.toggle_btn {
    background-color: transparent;
    border: 0px;
}
.toggle_btn div{
    width: 30px;
    height: 4px;
    background-color: #347AE2;
    border-radius: 20px;
    margin: 5px 0;
}
.toggle_btn div.lineTwo {
    width: 22px;
}
.toggle_btn div.lineThree {
    width: 16px;
}
li.nav-item.search_box {
  /*  width: 82%;
    margin-right: 19px;*/
      width: 75%;
   margin-left: 0;
    margin-right: auto;
}
.main_header .navbar {
    padding: 12px 0px;
}
.header_search input.form-control {
    background-color: #fff;
    border: 1px solid #E6EFFB;
    border-radius: 50px;
    padding: 0px 10px 0 45px;
    height: 43px;
    color: #7388A3;
    font-weight: 300;
}
.header_search .form-group {
    margin-bottom: 0;
    position: relative;
}
.header_search .form-group img.search_img {
    width: 16px;
    position: absolute;
    top: 10px;
    left: 16px;
}
button.btn.btn-sm.search_btn {
    background-color: transparent;
    padding: 0px;
    position: absolute;
    top: 5px;
    right: 14px;
}
button.btn.btn-sm.search_btn img{
    width: 22px;
}
header.home-header.main_header {
    margin-left: 120px;
  /*  border-bottom: 1px solid #D1DCE8;*/
}
button.btn.toggle_btn.sidebarclose_btn {
    display: none;
}

@media screen and (max-width: 991px) {
    .main_header .navbar {
        padding: 1rem 0rem;
    }
    .nav-tabs .nav-item {
        margin-right: 25px;
    }
    .nav-tabs .nav-item img {
        width: 40px;
    }
    li.nav-item.search_box {
        width: 62%;
    }
}
@media screen and (max-width: 767px) {
    .searh_w {
        width: 100%!important;
            margin: 0!important;
            margin-bottom: 15px!important;
    }
   /* .navbar {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }*/
    .home-header .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
        top: 4px;
    }
    .home-header li.nav-item {
        padding: 10px 8px;
    }
    .home-header .nav.nav-tabs li.nav-item {
      /*  padding: 10px 18px;*/
        padding: 0;
    }
    .main_header .nav.nav-tabs li.nav-item:first-child{
        padding-left: 0px;
    }
    header.home-header {
        border-bottom: 1px solid #e5e5e5;
    }
    .home-header .navbar {
        padding: 5px 15px;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
        float: none;
    }
    .navbar-brand img {
        width: 130px;
    }
    a#navbardrop::before {
        left: 28px;
    }
    
    /* layout responsive css */
    .admin-sidebar {
        transform: translateX(-96px);
    }
  /*  .admin-sidebar.open {
        transform: translateX(0px);
    }*/
    header.home-header.main_header {
        margin-left: 0;
    }
    .toggle_item{
        display: block !important;
    }
    .nav-tabs .nav-item {
        margin-right: 0px;
    }
    button.btn.toggle_btn {
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
    }
    .home-header .navbar {
        padding: 5px 0px;
    }
    /* .home-header .navbar-nav.justify-content-end {
        -webkit-box-pack: center !important;
        -ms-flex-pack: inherit !important;
        justify-content: center !important;
    } */
    .dp_col{
        display: none;
    }
/*    .mb_col{
        display: block;
    }*/
/*    .nav-tabs .nav-item img {
        width: 30px;
    }*/
    .nav-tabs .nav-item .nav-link {
        padding: 6px 0px;
    }
    .main_header .nav-tabs {
        padding: 0px 10px 10px;
    }
    .main_header .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0;
    }
    .nav-tabs .nav-link.active::before{
        display: none;
    }
    .nav.justify-content-end {
        -webkit-box-pack: start!important;
        -ms-flex-pack: start!important;
        justify-content: flex-start!important;
    }
    .nav-tabs .nav-item::before{
        display: none;
    }
    li.nav-item.search_box {
        display: none;
    }
    .main_header .col-md-5 {
        padding-right: 0;
    }
    button.btn.toggle_btn.sidebarclose_btn {
        display: block;
    }
    .dropdown-menu {
        left: -20px;
        top: 80%;
    }




}
@media screen and (max-width: 399px){
    .home-header li.nav-item {
        padding: 10px 5px;
    }
    .home-header .nav.nav-tabs li.nav-item {
       /* padding: 10px 10px;*/
        padding: 0;
    }
}
@media screen and (max-width: 361px){
    .home-header .nav.nav-tabs li.nav-item {
 /*       padding: 10px 6px;*/
        padding: 0;
    }
    .manage_jobs_right_wrapper ul li {
        margin-right: 6px;
    }
}
@media screen and (max-width:1024px){
    .mb_col{
        display: block;
    }
    .dp_col {
        display: none;
    }
    .nav-item.search_box {
    width: 73%!important;
    }

  
}

@media screen and (min-width:1024px){
 .admin-sidebar {
      transform: translateX(0)!important;
  }  
}

/*------------- Sty CSS 19-08-2021 ---------------*/

.nav-link.sty_head_btn {
    border: 1px solid #347AE2!important;
    border-radius: 10px;
    color: #347AE2!important;
    transition: all 0.6s;
}
.sty_head_btn_mobi {
    max-width: 220px;
    width: 100%;
}
