/* login page css */

section.login_section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: auto;
}
/*section.login_section::before{
  content: "";
  position: absolute;
  width:130px;
  height: 130px;
  background-image: url(../img/bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  transform: rotate(180deg);
}*/
/*section.login_section::after{
  content: "";
  position: absolute;
  width:130px;
  height: 130px;
  background-image: url(../img/bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  z-index: -1;
}*/
.login_wrapper {
/*    width: 40%;*/
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
  /*  padding: 60px 70px;*/
  /*  box-shadow: 0px 0px 6px 12px rgb(0 0 0 / 3%);*/
  box-shadow: 0px 25px 25px #00091f12;
    overflow: overlay;
}
.login_head {
    text-align: center;
    margin-bottom: 25px;
}
.login_head h5 {
    color: #263A70;
}
.login_head img {
    width: 150px;
    margin-bottom: 25px;
}

.login_main_header h1{
  font-family: 'Montserrat', sans-serif;
  /*  font-size: 55px;*/
    font-weight: 900;
}
.login_main_header p{
  font-weight: 500;
  color: #7388A3;
  line-height: initial;
/*  font-size: 20px;*/
}

.left_lng_img{
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 25%;
}
.right_lng_img{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 25%;
}
.sinup_link{
  color: #7388A3;
  font-weight: 500;
}








@media screen and (max-width:1199px){
    .login_wrapper {
        width: 50%;
    }
}
@media screen and (max-width:991px){
    .login_wrapper {
        width: 70%;
    }
}
@media screen and (max-width:767px){
    .login_wrapper {
        width: 100%;
        padding: 30px 20px;
    }
}

@media screen and (min-width:1400px){

    .login_main_header h1 {
      font-size: 55px
  }
  .login_main_header p{
    font-size: 20px
  }
  .login_head h5 {
      font-size: 25px
  }
}