/* for modal */
.modal.right.fade.show {
    background-color: #263A70;
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 864px;
    width: 864px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}	
.modal.right .modal-body {
    padding: 0px 0px 30px;
    background-color: #F5F9FF;
}
/*#EditProfileModal .modal-body {
    background-color: #fff;
}*/
.modal.right.fade .modal-dialog {
    right: -864px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
.modal-content {
    border: 0px;
    border-radius: 0px;
}
.modal-header {
    padding: 10px 25px;
    background-color: #347AE2;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
h4.modal-title {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.modal-header .close {
    margin: 0;
    border: 1px solid #fff;
    opacity: 1;
    margin-top: 3px;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-shadow: none;
    width: 25px;
    height: 25px;
    padding: 0px;
    line-height: 20px;
}
.tab_wrapper {
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
}
.tab_wrapper .nav-tabs {
    border-bottom: 0px;
    padding: 6px 0;
}
.tab_wrapper .nav-tabs .nav-item:first-child{
    margin-left: 25px;
}
.tab_wrapper .nav-tabs .nav-link.active::before {
    bottom: -14px;
    background-color: #fff;
}
.tabcontent_wrapper {
    padding: 0 25px;
}

#EditProfileModal .tabcontent_wrapper {
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .modal.right .modal-dialog {
        max-width: 746px;
        width: 746px;
    }
    .modal.right.fade .modal-dialog {
        right: -746px;
    }
    .modal.right.fade.show .modal-dialog {
        right: 0;
    }
}
@media screen and (max-width: 767px) {
    .modal.right .modal-dialog {
        max-width: 310px;
        width: 310px;
    }
    .tab_wrapper .nav-tabs .nav-item:first-child {
        margin-left: 25px;
        margin-right: 25px
    }
    .tab_wrapper .nav-tabs .nav-link.active::before{
        display: block;
    }
    .tab_wrapper .nav-tabs .nav-item::before{
        display: block;
        right: -15px;
        top: 10px;
    }
    .modal.right.fade .modal-dialog {
        right: -310px;
    }
    .modal.right.fade.show .modal-dialog {
        right: 0;
    }
}

