span.multiselect-native-select {
  position: relative;
}
span.multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}
.multiselect.dropdown-toggle:after {
  display: none;
}
.multiselect {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.multiselect-container .multiselect-reset .input-group {
  width: 93%;
}
.multiselect-container .multiselect-filter > .fa-search {
  z-index: 1;
  padding-left: 0.75rem;
}
.multiselect-container .multiselect-filter > input.multiselect-search {
  border: none;
  border-bottom: 1px solid lightgrey;
  padding-left: 2rem;
  margin-left: -1.625rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.multiselect-container .multiselect-filter > input.multiselect-search:focus {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.multiselect-container .multiselect-filter > .multiselect-moz-clear-filter {
  margin-left: -1.5rem;
  display: none;
}
.multiselect-container .multiselect-option.multiselect-group-option-indented {
  padding-left: 1.75rem;
}
.multiselect-container .multiselect-option,
.multiselect-container .multiselect-group,
.multiselect-container .multiselect-all {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
}
.multiselect-container .multiselect-option.dropdown-item,
.multiselect-container .multiselect-group.dropdown-item,
.multiselect-container .multiselect-all.dropdown-item,
.multiselect-container .multiselect-option.dropdown-toggle,
.multiselect-container .multiselect-group.dropdown-toggle,
.multiselect-container .multiselect-all.dropdown-toggle {
  cursor: pointer;
}
.multiselect-container .multiselect-option .form-check-label,
.multiselect-container .multiselect-group .form-check-label,
.multiselect-container .multiselect-all .form-check-label {
  cursor: pointer;
}
.multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active {
  background-color: lightgrey;
  color: black;
}
.multiselect-container .multiselect-option .form-check,
.multiselect-container .multiselect-group .form-check,
.multiselect-container .multiselect-all .form-check {
  padding: 0 5px 0 20px;
}
.multiselect-container .multiselect-option:focus,
.multiselect-container .multiselect-group:focus,
.multiselect-container .multiselect-all:focus {
  outline: none;
}
.form-inline .multiselect-container span.form-check {
  padding: 3px 20px 3px 40px;
}
.input-group.input-group-sm > .multiselect-native-select .multiselect {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-right: 1.75rem;
  height: calc(1.5em + 0.5rem + 2px);
}
.input-group > .multiselect-native-select {
  flex: 1 1 auto;
  width: 1%;
}
.input-group > .multiselect-native-select > div.btn-group {
  width: 100%;
}
.input-group > .multiselect-native-select:not(:first-child) .multiselect {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .multiselect-native-select:not(:last-child) .multiselect {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
span.multiselect-native-select .btn-group {
    padding: 0 !important;
    border-radius: 0;
    border: 0;
    width: 100%;
}
span.multiselect-selected-text {
    font-size: 12px;
    color: #c4c4c4;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 11px;
    transition: all 0.4s;
    cursor: pointer;
    background-color: #fff;
}
span.multiselect-selected-text {
    font-size: 12px;
    color: #c4c4c4;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 14px;
    transition: all 0.4s;
    cursor: pointer;
    background-color: #fff;
}

.multiselect-container.dropdown-menu.show {
    width: 100%;
    padding: 11px;
        left: -15px !important;
}

span.form-check input {
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
}

label.form-check-label {
    padding: 0 0 0 12px;
    font-size: 14px;
}
span.multiselect-native-select .btn-group {
    border-radius: 0;
    border: 0;
    width: 100%;
    font-size: 14px;
    color: #000;
    padding: 3px 15px !Important;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #d1dce8;
    position: relative;
}
© 2021 GitHub, Inc.