.sty_mdl img, .sty_mdl_sec img{
	width: auto;
}
.sty_mdl_img{
	max-width: 300px;
	width: 100%;
	margin: 0 auto
}
.sty_icon_box{
	border: 1px solid #C3D2E8;
	border-radius: 15px;
	background-color: #fff;
	text-align: center;
	padding: 18px 0;
	transition: all 0.6s;
}
.sty_icon_box:hover, .sty_icon_box:focus{
    box-shadow: 0 5px 20px #c3d2e8;
}
.sty_icon_box span{
	font-size: 16px;
	color: #001F69;
	font-weight: 500;
	display: block;
}
.sty_icon_box img{
	width: initial;
	margin-bottom: 6px;
}
.mdl_title{
	font-size: 22px;
	color: #001F69;
	font-weight: 700;
	margin-bottom: 20px;	
}
.mdl_title_2{
	font-size: 16px;
	color: ##7388A3;
	font-weight: 700;
	margin-bottom: 20px;	
}

.sty_mdl .col{
	padding-right: 5px;
	padding-left: 5px;
}
.sty_mdl .img_check { 
		display: none;
 	max-width: 30px;
}
.slt_check label {
  display: inline-block;
     padding: 25px 10px;
  position: relative;
  cursor: pointer;
  
}
.sty_mdl input[type="checkbox"] {
/*  opacity: 0;*/
  width: 40px;
  height: 40px;
  display: none;
}
.slt_check label {
	transition: color 80ms linear;
	margin-bottom: 0;
	display: block;
	height: 100%;
	width: 100%;
	line-height: initial; 
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 12px;
	font-weight: 500;
	background: #fff;
	border: 1px solid #C3D2E8;
}
.slt_check label img {
    margin-right: 4px;
}
.slt_check label svg {
  transition: border-color 80ms linear;
}
.slt_check label svg path {
  transition: stroke-dashoffset 80ms linear;
}
.slt_check input[type="checkbox"]:checked ~ label .img_check {
	display: block;
}
.slt_check input[type="checkbox"]:checked ~ label .optn_img {
	display: none;
}
.slt_check input[type="checkbox"]:checked ~ label .img_check {
 border-color: #66bb6a; 
}

.slt_check input[type="checkbox"]:checked ~ label {
  color: #fff;
  background-color: #0072FA
}


.slt_check {
    height: 100%;
}
.optn_img{
	max-width: 30px;
	display: block;
}

.slt_sec_check .slt_check input[type="checkbox"]:checked ~ label {
 font-size: 13px;
     flex-flow: nowrap;
    line-height: initial;
}

.slt_sec_check .slt_check label {
    font-size: 14px;
    margin-top: 15px;
}

/*.st_tab-content {
  display: none;
}
.st_tab-content.active {
  display: block;
}*/

.sty_inp_bg {
    background: #ffff;
    padding: 22px;
    border-radius: 15px;
    margin-bottom: 36px;
}
.responsive_table {
    border-radius: 15px
}
.responsive_table .table thead th:first-child{
	border-top-left-radius:15px;
}
.responsive_table .table thead th:last-child{
	border-top-right-radius:15px;
}

.sty_proposal_table td button i {
    color: #0072FA;
}

/*.modal.sty_mdl_sec.show .modal-dialog {
    left: 60px;
}*/



.modal.sty_mdl_sec.fade .modal-dialog {
	   right: 657px;
    /*right: -864px;*/
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.sty_mdl_sec .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 864px;
    width: 864px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    }

.modal.sty_mdl_sec .modal-content {
    height: 100%;
    overflow: auto;
}

.modal.sty_mdl_sec {
    z-index: 9998!important;
}
.sty_mdl_sec .modal-body {
    padding: 0px 0px 30px;
    background-color: #F5F9FF!important;
}

.sty_mdl_sec,.sty_mdl {
	left: auto;
}

.modal-backdrop.show {
    opacity: 1;
    background: #304376;
}

/*----------------------*/

.st_amf{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.st_amf p{
	font-size: 14px;
	font-weight: 700;
	color: #7388A3;
	margin-bottom: 0;
}
.st_amf p span{
	color: #001F69
}

.st_amf a{
	font-size:14px;
	font-weight: 600;
}
.mf_tble{
	font-size: 13px;
	color: #7388A3;
	font-weight: 500;
	margin-top: 8px;
	margin-bottom: 0;
}
.mf_tble p{
	margin: 0;
}
.mf_tble .cnt{
	color:#001F69
}
.mf_tble td {
    padding: 0px;
    border: 0;
}
.action_btn{
	text-align: right;
}
.action_btn a{
	max-width: 20px;					
}
.action_btn a img{
	width: auto;
}
.amf_list {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.mf_tble thead td:last-child{
	text-align: right;
}
.st_n_btn {
    background: #0072FA;
    padding: 12px 20px!important;
    border-radius: 10px;
    color: #fff!important
}
.bg_nay{
 background-color: #001F69!important;
}
.part_dtl{
	font-weight: 500;
	font-size: 13px;
	color: #7388A3;
	margin-bottom: 12px;
}
.part_dtl span{
	color: #263A70;
	font-size: 15px;
	 display: block;
    font-weight: 400;
}

.vew_btn{
	font-size:14px;
	font-weight: 600;
}

.alert.alert-success {
    border-radius: 10px;
    border: 0;
    background: rgb(41 213 87 / 20%);
    font-size: 18px;
    font-weight: 500;
    color: #7388A3;
}
.alert.alert-success img {
    width: auto;
    margin-right: 15px;
}
.mor_parts, .st_looking_items_inner{
	color: #001F69;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.amf_list_selected .amf_list {
	    border: 1px solid #00000024;
}

.st_alert{
	display: none;
}

.st_inpt_dropdown{
	right: 0;
	transform: translate3d(0, 45px, 0)!important;
	box-shadow: 0px 12px 18px 6px rgb(0 0 0 / 5%)!important;
}
.st_inpt_dropdown .amf_list {
    margin-bottom: 0;
    border-bottom: 1px solid #D1DCE8;
    border-radius: 0;
}
.st_inpt_dropdown .amf_list:last-child{
	border-bottom: 0;
}


.sty_tabs .nav-link.active img{
    margin: 0 auto;
    margin-bottom: 15px;
}
.sty_tabs .nav-link.active{
	color: #fff!important;
	background-color:#0072FA!important;
}
.st_inpt_dropdown .amf_list .mf_tble{
	    margin-top: 0;
}

.sty_tabs .nav-link.active .img_check {
    display: block;
}
.sty_tabs .nav-link.active .optn_img{
	  display: none;
}
.sty_tabs .nav-link{
    transition: color 80ms linear;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    line-height: initial;
    border-radius: 10px;
/*    display: flex;
    align-items: center;
    justify-content: center;*/
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid #C3D2E8;
    display: inline-block;
    padding: 20px 0!important;
    text-align: center;
}

.sty_tabs li.nav-item {
    width: 50%;
    padding: 0 15px 0 0;
}
.sty_tabs .nav-link img {
	    margin: 0 auto;
    margin-bottom: 12px;
    text-align: center;
}




.st_inpt_dropdown table.table td {
    width: 35%;
    padding: 0 5px;
}


.st_inpt_dropdown .st_option{
	font-size: 13px;
	color: #001F69;
	margin-top: 25px;
	padding: 0 10px;
}
.st_inpt_dropdown .st_option .nt_fnd a {
	color: red;
}
.st_inpt_dropdown .st_option  .st_click{
	color: #0072FA
}





/*===============================================*/
@media (max-width: 576px){

	.modal.sty_mdl_sec.fade .modal-dialog {
	  	  max-width: 310px;
	    width: 310px;
	}
}

@media (min-width: 576px){
	.modal-sm {
	    max-width: 48% !important;
	}
}

@media (max-width: 1024px){
	.modal.sty_mdl_sec.fade .modal-dialog {
		right: 0;
	}
	.sty_mdl .col {
	    margin-bottom: 10px;
		flex: 0 1 auto;
        max-width: 50%;
	}
	.st_amf p, .st_amf a{
    	font-size: 13px;
	}
}

@media (min-width: 1024px){

	.amf_list_selected .table-responsive {
	    display: table!important;
	}

}



@media screen and (min-width: 1440px){
	.modal.sty_mdl_sec.fade .modal-dialog {
	   /* right: 657px;*/
	       right: calc(48% / 1);
	}


}

