/* Responsive css */

@media screen and (max-width: 1199px) {
    .responsive_table .table{
        width: 1214px;
        max-width: 1214px;
    }
    .responsive_table {
        width: 100%;
        overflow-x: auto;
    }
    .pagination_wrapper {
        width: 45%;
    }
}
@media screen and (max-width: 1040px) {
    .pagination_wrapper {
        width: 55%;
    }
}
@media screen and (max-width: 991px) {
    .home-section ul.nav li {
        margin: 0 15px;
        text-align: center;
    }
    .pagination_wrapper {
        width: 68%;
    }
}
@media screen and (max-width: 767px) {
    .home-section ul.nav li a {
        display: grid;
        padding: 10px 0;
    }
    .home-section ul.nav li {
        margin: 0 25px;
    }
    .mt-5 {
        margin-top: 1rem!important;
    }
    section.home-section::before {
        width: 300px;
        height: 150px;
        top: 90px;
        left: 20%;
    }
    .login_home_body::after, .login_home_body::before {
        width: 50px;
        height: 50px;
    }
    .pagination_wrapper {
        width: 100%;
    }
    .pagination_wrapper .pagination li.page-item {
        margin: 0 0px;
    }
    .pagination_wrapper .pagination .page-item .page-link {
        margin: 0 2px;
    }
    section.main-content {
        margin-left: 0;
        padding: 15px 15px;
    }
    .pl-xs-0{
        padding-left: 0px !important;
    }
    .manage_jobs_right_wrapper p {
        font-size: 10px;
        padding: 4px 0px;
    }
    .manage_jobs_right_wrapper ul li {
        margin-left: 0;
        margin-right: 22px;
    }
    button.btn.new_jobs_btn {
        font-size: 8px;
        font-weight: 600;
        padding: 5px 6px;
    }
    .manage_jobs_right_wrapper ul li:first-child::before{
        display: none;
    }
    .nav-tabs .nav-item::before{
        display: none;
    }
    .main-content h6.h6-title {
        margin-bottom: 12px;
        margin-top: 0;
    }
    .responsive_table {
        margin-top: 6px;
    }
    .responsive_table td:first-child {
        width: auto;
    }
    .responsive_table .table thead th {
        padding: 14px 15px;
    }
    .responsive_table td {
        padding: 14px 15px;
    }
    .responsive_table .table {
        width: 940px;
        max-width: 1214px;
    }
    .main-content .col-md-12.pl-0 {
        padding-right: 0px;
    }
    .manage_jobs_right_wrapper.mng_contacts ul li {
        margin-right: 6px;
    }
    .manage_jobs_right_wrapper.mng_contacts p span {
        margin-left: 2px;
    }
    .responsive_table.manage_contacts_table .table {
        width: 1214px;
        max-width: 1214px;
    }
    .manage_contacts_table td:first-child {
        width: 170px;
    }
    .manage_jobs_right_wrapper.mng_contacts ul li::before {
        display: none;
    }
    .manage_jobs_right_wrapper.mng_contacts p i {
        font-size: 14px;
    }
    .manage_jobs_right_wrapper.mng_contacts p span {
        font-size: 9px;
        margin: 0 0px;
    }
    .aggregators_configure_wrapper {
        padding: 20px;
    }
    .aggregators_configure_wrapper ul.nav li {
        width: 145px;
    }
    .dashboard_app_wrapper {
        margin-top: 40px;
    }
    .pd-xs-0{
        padding: 0px !important;
    }
    
}
@media screen and (max-width: 399px){
    .main-content h6.h6-title {
        font-size: 15px;
        margin-top: 0;
    }
    .manage_jobs_right_wrapper p {
        font-size: 10px;
        padding: 5px 0px;
    }
    .manage_jobs_right_wrapper ul li {
        margin-right: 12px;
    }
    .manage_jobs_right_wrapper p span {
        margin-left: 2px;
    }
}

@media screen and (max-width: 361px){
    .pagination_wrapper .pagination .page-item .page-link {
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 0 3px;
    }
}