/* table css */
.responsive_table {
    width: 100%;
    overflow-x: auto;
  /*  box-shadow: 0px 8px 16px -3px rgb(0 0 0 / 6%);*/
        box-shadow: 0px 15px 15px rgb(0 0 0 / 3%);
    border-radius: 15px;
    margin-bottom: 15px;
}
.responsive_table .table thead th {
    vertical-align: middle;
    border-bottom: 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: #0072FA;
    border-right: 1px solid #5F96E8;
    text-align: center;
    padding: 14px 30px;
    border-top: 0px;
}

.responsive_table .table thead th:first-child{
    border-top-left-radius: 15px;
    text-align: left;
    padding-left: 40px;
}
.responsive_table .table thead th:last-child{
    border-top-right-radius:15px;
    border-right: 0px;
}
table.table.table-striped {
    border-radius: 20px;
    margin-bottom: 0;
}
.responsive_table .table tbody {
    background-color: #fff;
    border-radius: 15px;
}

.responsive_table td {
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
    border-top: 0px;
    border-right: 1px solid #E9F1FE;
    text-align: center;
    padding: 14px 30px;
        color: #61729A;
}
.responsive_table td:first-child{
    text-align: left;
    width: 300px;
    padding-left: 40px;
}
button.btn.common_btn {
    background-color: transparent;
    padding: 0px;
    color: #024d6d;
}
.responsive_table td button img{
    width: 18px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f3fafb;
}
.responsive_table .table tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}
.responsive_table .table tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}
.responsive_table .table tr td:last-child{
    border-right: 0px;
}
td.jt_td {
    color:#61729A;
    font-weight: 400;
}
td.created_td {
    color: #61729A;
    font-weight: 400;
}
td.status_td p {
    margin-bottom: 0px;
    background-color: #1cd848;
    padding: 3px 8px;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
}
.pagination_wrapper {
    width: 38%;
    margin: 30px auto 50px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 4%);
    padding: 10px 0;
    border-radius: 30px;
}
ul.pagination {
    margin-bottom: 0px;
}
.pagination_wrapper .pagination .page-item img{
    width: 18px;
}
.pagination_wrapper .pagination li.page-item {
    margin: 0 6px;
}
.pagination_wrapper .pagination .page-item .page-link {
    padding: 0px;
    font-size: 14px;
    color: #616161;
    background-color: transparent;
    border: 0px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.pagination_wrapper .pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #347AE2;
}
.pagination_wrapper .pagination li.page-item:first-child img{
    transform: rotate(180deg);
}
button.btn.common_btn img {
    width: 16px;
}
.responsive_table.responsive-table.job_feeds td:first-child {
    text-align: left;
    width: auto;
    padding-left: 40px;
}
.responsive_table.responsive-table.job_feeds th:nth-child(2){
    text-align: left;
}
.responsive_table.responsive-table.job_feeds th:nth-child(3){
    text-align: left;
}
.responsive_table.responsive-table.job_feeds td:nth-child(2){
    text-align: left;
}
.responsive_table.responsive-table.job_feeds td:nth-child(3){
    text-align: left;
}
#job_feeds .responsive_table.responsive-table.job_feeds td:nth-child(2) {
    width: 215px;
}

/* for manage contacts page */
.manage_contacts_table .table thead th:first-child {
    padding-left: 20px;
}
.manage_contacts_table .table thead th:nth-child(2) {
    text-align: left;
}
.manage_contacts_table .table thead th .custom_checkbox {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.manage_contacts_table .table .custom_checkbox .checkmark {
    background-color: #fff;
    border-radius: 4px;
    top: -2px;
}
.manage_contacts_table .table .custom_checkbox input:checked ~ .checkmark {
    background-color: #347AE2;
}
.manage_contacts_table .table thead th {
    font-size: 12px;
    padding: 15px 12px;
    font-weight: 600;
}
.manage_contacts_table td {
    font-size: 11px;
    padding: 10px 12px;
/*    color: #61729A;*/
    color: #7388A3;
    font-weight: 500;
}
.manage_contacts_table .table td .custom_checkbox {
    color: #000;
}
.manage_contacts_table td:first-child {
    width: 170px;
    padding-left: 20px;
}
.manage_contacts_table td:nth-child(2) {
    text-align: left;
}
.manage_contacts_table button.btn.common_btn {
    color: #8b8b8b;
}
.manage_contacts_table td button i {
    color: #8b8b8b;
}
.active_clr {
    width: 12px;
    height: 12px;
    background-color: #1cd848;
    border-radius: 100%;
}
.e_clr {
    width: 12px;
    height: 12px;
    background-color: #8b8b8b;
    border-radius: 100%;
}
/* for configure page */
.responsive_table.preferences_table {
    margin-top: 10px;
    box-shadow: none;
}
.responsive_table.preferences_table  .table thead th {
    text-align: left !important;
    padding: 10px 20px !important;
    border-right: 0px;
}
.responsive_table.preferences_table td {
    border-top: 0px;
    border-right: 0px;
    text-align: left !important;
    padding: 15px 20px !important;
    vertical-align: top;
    font-size: 11px;
    
}
.responsive_table.preferences_table td:nth-child(1){
    width: 50px !important;
    color: #079ba9;
    font-weight: 400;
}
.manage_contacts_table .custom_checkbox {
    margin-top: 12px;
}
.responsive_table.preferences_table tr:nth-child(1) td{
    vertical-align: middle;
}
.responsive_table.preferences_table td:nth-child(2){
    width: 290px;
    color: #347AE2;
    font-weight: 500;
}
.responsive_table.preferences_table td:nth-child(3){
    color: #ababab;
    font-weight: 400;
}
.responsive_table.preferences_table td:nth-child(4){
    color: #4b4b4b;
    font-weight: 400;
    width: 300px;
}

.responsive_table.preferences_table td:nth-child(5){
    width: 350px;
}
.responsive_table.preferences_table .table tbody {
    background-color: transparent;
}
.responsive_table.preferences_table .table tbody tr{
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px !important;
    box-shadow: 0px 2px 5px #ccc;
}
/* .responsive_table.preferences_table .table tbody tr td{
    border-bottom: 10px solid #f1f1f1;
} */
.responsive_table.preferences_table .table tbody tr.tr-spacer {
    height: 20px;
    box-shadow: none !important;
}
.responsive_table.preferences_table .table tbody tr td:first-child{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.responsive_table.preferences_table .table tbody tr td:last-child{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.responsive_table.preferences_table .table tbody tr:first-child td:first-child{
    border-radius: 0px;
    border-bottom-left-radius:15px;
}
.responsive_table.preferences_table .table tbody tr:first-child td:last-child{
    border-radius: 0px;
    border-bottom-right-radius:15px;
}