.loader {
    margin-top: 10%;
    margin-left: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #037ecc;
    border-bottom: 16px solid #037ecc;
    border-right: 16px solid #1381d5;
    border-left: 16px solid #1381d5;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes    spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-box
{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 1;
    background-color: #fff;
    z-index: 999999999999;
    text-align: center;

}
.loader-box .flex-center{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 10px;
}

/* for add account modal */
.img_picker_wrap {
    border: 1px dashed #c9c9c9;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}
input#myFile {
    display: none;
}
.img_picker_wrap label{
    /*  background-color: #AE3335;*/
    padding: 6px 8px;
    margin-bottom: 0;
    border-radius: 10px;
    cursor: pointer;
}
.img_picker_wrap label img{
    width: 20px;
    margin-top: -2px;
}

@media screen and (max-width: 1681px){
    .img_picker_wrap label {
        padding: 3px 6px;
        border-radius: 5px;
    }
    .img_picker_wrap label img {
        width: 15px;
    }
    .img_picker_wrap {
        padding: 12px;
    }

}
.image-file {
    display: none;
}
.img_picker_wrap label img {
    width: 50%;
}
.eye_img {
    width: 15px;
    position: absolute;
    top: 50px;
    left: unset;
    right: 15px;
    cursor: pointer;
}
.arrow_rtl{
    width: auto;
    margin: 0 10px
}
.img_upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px dashed #d1dce8;
    padding: 15px;
    border-radius: 10px;
}
img.img-uploaded {
    max-width: 100px;
    width: 100%;
    border-radius: 5px;
}

.img_upload .btn{
    color: #09f;
    background-color: #fff;
    border: 2px solid #09f;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0.6em auto;
    padding: 0.35em 0.7em 0.4em;
    text-decoration: none;
    width: auto;
    position: relative;
    border-radius: 10px;
    user-select: none;
    outline: none;
    -webkit-transition: all, 0.25s, ease-in;
    -moz-transition: all, 0.25s, ease-in;
    transition: all, 0.25s, ease-in;
    font-weight: 500;
    line-height: 0;
    padding: 20px;
}
span.file-holder {
    display: block;
}
.file-wrapper:hover .btn,
.file-wrapper:hover button{
    background-color: #ddd;
    color:#fff!important;
    -webkit-transition: all, 0.25s, ease-in;
    -moz-transition: all, 0.25s, ease-in;
    transition: all, 0.25s, ease-in;
}


.img_upload input {
    border: 2px solid #eee;
    padding: 1em 0.25em;
    width: 96%;
    color: #999;
    border-radius: 4px;
}
.img-holder {
    display: block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
}
.img-holder img {
    width: 100%;
    max-width: 100%;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.file-wrapper:hover .btn {
    background-color: #33adff !important;
}

.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 9;
}
.bg_color1{
    background: rgb(0 136 255);
}
.bg_color2{
    background: rgb(14 193 175);
}
.bg_color3{
    background: rgb(251 144 66);
}
.bg_color4{
    background: rgb(142 57 239);
}
.card.sty_card_box {
    color: #fff;
    border-radius: 25px;
    border: 0;
}
.card.sty_card_box h5 {
    font-weight: 600;
    font-size: 35px;
    margin: 0;
    font-family: Gilroy!important;
}
.card.sty_card_box p {
    margin: 0;
}
.card.sty_card_box  a{
    color: #fff;
    font-size: 13px;
}
.card.sty_card_box img {
    width: auto;
    margin-bottom: 10px
}

.sty_filter button.btn.btn-sm.search_btn {
    left: 0;
/*    top: 0;*/
}
.sty_filter button.btn.btn-sm.search_btn img {
    width: 16px;
}
.sty_filter .header_search .form-group img.search_img {
    position: absolute;
    top: 10px;
    left: 17px;
}
.sty_filter .header_search input.form-control {
    background-color: transparent;
}
.sty_filter button.btn.new_jobs_btn {
    background-color: #0072fa;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 10px;
}
button.btn.new_jobs_btn i {
    margin-right: 4px
}
.sty_filter ul li::before{
    display: none;
}
.sty_filter ul li {
    margin-left: 10px;
}
.sty_action button.btn.common_btn i {
    color: #0088ff;
}
.sty_action button.btn.common_btn {
 /*   padding: 0 10px;*/
    padding: 0 3px;
}
.sty_sent {
    background: #8049ef;
    color: #fff;
}
.btn_draft {
    background: #bdc7d6;
    color: #fff;
}
.btn_recived {
    background: #1ee567;
    color: #fff;
}


/*.sty_proposal_table table td:first-child {
    width: 400px!important;
}*/

.sty_proposal_table .table td .custom_checkbox {
    font-size: 11px;
    color: #61729A;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;

}

.file-wrapper {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
}
.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}
.file-wrapper .button {
    cursor: pointer;
    display: inline-block;
    background-color: #0072fa;
    color: #fff;
/*    font-size: 10px;*/
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 10px;
}

.pagination_wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 4%);
    padding: 10px 0;
    border-radius: 30px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
input:checked + .slider {
    background-color: #347AE2;
}
.item_details .sty_title{
    font-size: 15px;
    font-weight: 700;
    color: #001F69;
}
.item_details label{
    font-size: 13px;
    margin: 0;
    color: #7388A3;
    color: #263A70;
}
.item_details p{
    font-weight: 400;
    font-size: 14px;
        font-family: 'Open Sans', sans-serif;
}
.item_details img{
    width: 100%;
    display: block;
    border-radius: 5px;
    max-height: 298px;
}

.PropaslModal .nav-pills .nav-link {
    border-radius: 12px;
    padding: 15px 34px!important;
    box-shadow: 1px 5px 19px #0000001a;
    background: #fff;
    margin: 0 10px 0 0;
}
.PropaslModal .nav-pills .nav-link.active, .PropaslModal .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #007bff;
}
.proposalform{
    background: #ffff;
    padding: 22px;
    border-radius: 15px;
    margin-bottom: 36px;
}
.sty_breadcrumbs img.img-fluid {
    width: auto;
    margin: 0 8px;
}
img{
    width: auto;
}

.add_item_box {
    border: 2px dashed #E3EBF8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    text-align: center;
    background: #F5F9FF;
}
.add_item_box p {
    color: #C1D8F5;
    font-size: 21px;
    font-weight: 500;
}
i.fa.fa-plus.fa-lg.fa-fw {
    border: 1px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.prop_details .media-body h5, .stylable {
    font-size: 14px;
    color: #7388a3;
    margin: 0;
    font-weight: 500;
}

.prop_details .media-body p {
    font-size: 14px;
    font-weight: 600;
    color: #7388a3;
    text-transform: capitalize;
}
.prop_details  .media {
    margin-bottom: 15px;
}
.media-body.draft_box {
    background: #f5f9ff;
    padding: 11px;
    border-radius: 6px;
    position: relative;
}
.media-body.draft_box:before {
    content: '';
    height: 20px;
    width: 20px;
    background: #f5f9ff;
    position: absolute;
    transform: rotate(
        45deg);
    left: -9px;
    top: 21px;
}
/*------------------------------------*/


::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.wrapper.chatbox{
    /*    height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;*/
    background-color: #F5F9FF;
}

.chatbox .chatbox .main {
    background-color: #eee;
    width: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px
}

.chatbox .scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* height: 325px*/
}

.chatbox .img1 {
    border-radius: 50%;
    background-color: #66BB6A;
    display:none;
}

.chatbox .name {
    font-size: 8px
}

.chatbox .msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
}

.chatbox .between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
}

.chatbox .navbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #EAEEF5;
}

.chatbox .form-control {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none;
}

.chatbox .form-control:focus {
    box-shadow: none;
    overflow: hidden;
    border: none;
}

.chatbox .form-control:focus {
    box-shadow: none !important
}

.chatbox .icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
}

.chatbox .icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
}

.chatbox .icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
}


/*---------------qty -----------------------*/
.sty_qty_wrap .form-control{
    background: transparent;
}
.sty_qty .qty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: transparent;
}
.sty_qty .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    background: transparent;
}
.sty_qty .qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color:#f37b7d;
    width: 30px;
    text-align: center;
    font-size: 33px
}
.sty_qty .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #0072fa;
    width: 30px;
    text-align: center;
    background-clip: padding-box;
    font-size: 33px
}


/*Prevent text selection*/
.sty_qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.sty_qty input{
    border: 0;
    width: 2%;
}
.sty_qty input::-webkit-outer-spin-button,
.sty_qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sty_qty input:disabled{
    background-color:white;
}
.sty_btn_2 {
    background: transparent;
    border-color: #0072FA;
    color: #0072FA!important;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.6s;
    font-size: 12px;
}
.sty_btn_2:hover {
    background: #0072FA;
    color: #fff!important;
}
.sty_btngrup2 ul li::before{
    display: none;
}
.sty_btngrup2 ul li {
    font-size: 12px
}
.sty_btngrup2 ul li {
    margin-left: 10px;
}

.sty_timelins .media {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    display: flex;
        align-items: center;
        flex-wrap: wrap;
}
.sty_timelins .media:before {
    border-left: 1px dashed #C3D2E8;
    content: '';
    position: absolute;
    width: 61px;
    height: 50px;
    left: 23px;
    top: 41px;
    z-index: -1;
}
.sty_timelins .media:last-child:before{
    display: none;
}
.sty_items_table tr td {
    border: 0;
    border-bottom: 1px solid #E4E9F1;
}
.sty_items_table .responsive_table .table thead th {
    border: 0;
}
.sty_items_table .responsive_table .table tbody {
    background-color: #F5F9FF;
    border-radius: 0;

}
.sty_items_table .responsive_table {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    height: 290px;
}
.sty_items_table .responsive_table .table tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}
.sty_items_table .responsive_table .table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}
@media (min-width: 576px)

{
    .modal-sm {
        max-width: 48% !important;
    }
}


